@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --font-subtitle: "Montserrat", sans-serif;
  --font-title: "Sansita", cursive;
}

@layer utilities {
  /* Custom 3D Utilities */
  .preserve-3d {
    transform-style: preserve-3d;
  }

  .perspective-1000 {
    perspective: 1000px;
  }
}
